+# IDE specific files
.buildpath
.project
.settings
.idea


docroot/themes/uagc/.cache/
docroot/themes/uagc/dist/



#  SMTP SETTINGS
docroot/config/sync/smtp.settings.yml

# Ignored Settings Directory
docroot/config/syncignore/*.yml


# Vagrant
.vagrant

# NPM
node_modules

# OSX file
.DS_Store

/_site

# Local configuration
Vagrantfile.local
settings.local.php
docroot/sites/development.services.yml


# System performance config
docroot/config/sync/system.performance.yml

# SASS cache
.sass-cache

# Composer
/vendor

docroot/*
!docroot/.htaccess
!docroot/sites/
!/docroot/legacy-sitemap.xml
!docroot/robots.txt
docroot/sites/default/files
docroot/sites/default/services.local.yml
docroot/sites/default/settings.docker.php



# favicons
!docroot/*.png
!docroot/browserconfig.xml
!docroot/*.ico
!docroot/manifest.json
!docroot/*.svg

!docroot/config/
!docroot/libraries/
docroot/libraries/*
!docroot/libraries/dropzone
!docroot/libraries/imagesloaded
!docroot/libraries/masonry
!docroot/libraries/slick
!docroot/libraries/jquery-ui-touch-punch
!docroot/themes/
!docroot/modules/
docroot/modules/contrib/
!docroot/modules/custom/
!docroot/static
bower_components
modernizr-custom.min.js

# Google Webmaster verification file
!docroot/*.html

.docker-sync

#legacy sitemap


googlecreds.json
/.editorconfig
/.gitattributes
