{# wrapper: paragraph--degrees_by_interest.html.twig #}
<div class="section__top-row">
  Choose from online college degrees in some of today's most in-demand fields.
</div>
<div class="section__bottom-row">
  <div class="section__programs">
    {{ drupal_view('interests', 'block_1') }}
  </div>
  <div class="section__browse">
  </div>
</div>
