<section class="section section--feature-space{% if content.field_feature_space_gradient.0['#markup'] == "blue" %} is-blue{% endif %}">
  <h1 class="section__header">{{ content.field_short_title }}</h1>
</section>
