<section class="section section--accordion">
  <div class="layout-constrain--narrow">
    <div class='accordion'>
      <button class='accordion__title'><h3>{{ content.field_title }}</h3></button>
      <div class='accordion__content'>
        {{ content.field_paragraph_body }}
      </div>
    </div>
  </div>
</section>
