<section class="section section--heading-cta-callout">
  <div class="section--heading-cta-callout__container">
    <h2 class="h2 section--heading-cta-callout__heading">{{ content.field_heading }}</h2>
    <h4 class="h4 section--heading-cta-callout__subheading">{{ content.field_subheading }}</h4>
    <div class="section--heading-cta-callout__cta">
      {{ content.field_cta }}
    </div>
  </div>
</section>
