// @file
// Clearfix

@mixin clearfix {
  @if $legacy-support-for-ie7 {
    *zoom: 1;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }

}

%clearfix {
  @include clearfix;
}
