<form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
      <label for="edit-keys" class="visually-hidden">Search</label>
        <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" class="form-autocomplete form-search ui-autocomplete-input js-regular-search" data-key="search_block" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" autocomplete="off" placeholder="Search Degrees, Partnerships, and Faculty">

        </div>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" value="Search" class="button js-form-submit form-submit">
</div>
    
<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" data-sa-theme="basic-blue" style="width: 641.014px; position: relative; top: -63.9915px; left: 0px; display: none;"></ul></form>