<div class="stickyrfi-mobile">
  <h3 class="stickyrfi-mobile__header">Request Info</h3>
  <div class="js-form-type-select">
    <select class="stickyrfi-mobile__state" aria-label="Select state to continue"><option value="">Select State</option></select>
  </div>
</div>

{{attach_library('uagc/stickyform-mobile')}}