<div class="faculty-profile-biography">
    <h2 class="faculty-profile-biography__heading">Biography</h2>
    <div class="faculty-profile-biography__content wizzywig">{{ content.field_content.0 }}</div>
</div>