<section class="site-layout__article-content-section">
  <div class="partner-display">
    <div class="partner-display__header">{{content.field_header}}</div>
    <div class="partner-display__content">{{content.field_body_content}}</div>
    <div class="partner-display__listing">{{ drupal_view('partner_listing', 'block_1') }}</div>
    <div class="partner-display__logos">
      {{content.field_logos}}
    </div>
  </div>
</section>