
  <div class="success-sidebar-quote">
      <div class="success-sidebar-quote__quote">
        "{{ content.field_quote_text.0 }}"
      </div>
      <div class="success-sidebar-quote__red-bar"></div>
  </div>
