<div class="paid-two-column">
    <div class="paid-two-column__heading">{{ content.field_heading.0 }}</div>
    <div class="paid-two-column__wysiwyg wizzywig">{{ content.field_content.0 }}</div>
</div>