<div class="site-layout__article-content-section">
    <div class="success-stories-grid">
        <div class="success-stories-grid__red-bar"></div>
        <div class="success-stories-grid__main-header">Explore Other Stories</div>
        {{ drupal_view('success_grid', 'block_1') }}
    </div>
</div>