
<a href="{{ fields.view_node.content|render|striptags|trim }}" class="partner-display__listing-item">
    <div class="partner-display__listing-item-content-column">
        <div class="partner-display__listing-item-title">
            {{ fields.title.content }}
        </div>
    </div>
    <div class="partner-display__listing-item-link-column">
        <div class="partner-display__listing-item-readmore">
                <span  class="partner-display__listing-item-readmore-text">View Details</span>
            <div class="partner-display__listing-item-readmore-arrow">
                {% include directory ~ '/templates/svg-icons/arrow-right.html.twig' %}
            </div>
        </div>
    </div>
</a>

