.commencement-video {
  &.--grey-background {
    background-color: $gray;
  }
  &__wrapper {
    max-width: 1024px;
    margin: {
      top: 35px;
      left: auto;
      bottom: 10px;
      right: auto;
    }
  }
  &__header {
    color: #0c234b;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.22;
    padding-bottom: 15px;
    margin: 0px 20px;

    @media (min-width: $bp--mobile) {
      margin: 0px;
      font-size: 2.5rem;
      line-height: 1.225;
    }
  }
  &__content {
    max-width: 1024px;
    margin: {
      left: auto;
      right: auto;
    }
  }
  &__video-block {
    max-width: 1024px;
    margin: {
      left: auto;
      right: auto;
    }
  }
}
