// Breakpoints
$desktop-large: 1920px;
// desktop-medium-large for setting max pattern width breakpoint
$desktop-medium-large: 1664px;
$desktop-medium: 1500px;
$desktop: 1280px;
$desktop-small: 1024px;
$desktop-small-1025: 1025px;
$tablet: 768px;
$mobile-small: 375px;

$footerSpacing: 550px;

// Global Gutters
$gutterTopBottom: 80px;
$gutterTopBottomMobile: 40px;
$gutterSide: 112px;
$gutterSideTablet: 72px;
$gutterSideMobile: 24px;

// Global Gutters Paid to change top/bottom padding
$gutterTopBottomPaidDesktop: 56px;

//menu vars

$desktopLogo: 112px;
$mobileLogo: 229px;

$headerHeightMobile: 51px;
$headerHeightDesktop: 112px;

$topMenuMobile: 56px;
$topMenuDesktop: 32px;
