{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<article>
  {{ title_suffix.contextual_links }}
  {% if media.field_cta.0.value is not empty %}
    <a href="{{content.field_cta.0['#url']}}">
      {{ content.field_media_image}}
    </a>
  {% else %}
    {{ content }}
  {% endif %}
</article>
  