{{ attach_library('uagc/main') }}

<section class="zes-overview">
    <div class="zes-overview__header">
        {{ content.field_header_paragraphs }}
    </div>
    <div class="zes-overview__body">
        {{ content.field_body_paragraphs }}
    </div>
</section>