{{ attach_library('uagc/main') }}
{{ attach_library('uagc/success-story-landing-page') }}

<section class="success-story-landing-page">
    <div class="success-story-landing-page__header">
        {{ content.field_header_paragraphs }}
    </div>
    <div class="success-story-landing-page__body">
        {{ content.field_paragraphs }}
    </div>
</section>