<div class="press-release-page">
    <div class="press-release-page__red-line"></div>
    <h1 class="press-release-page__heading">{{label}}</h1>
    <p class="press-release-page__date">{{node.field_pr_publish_date.0.value|date('F j, Y')}}</p>
    <div class="press-release-page__content">{{content.body}}</div>
</div>