{{ attach_library('uagc/main') }}

    {{ attach_library('uagc/paid') }}
{%
  set classes = [
    'site-layout__article',
    node.getType,
  ]
%}
<article {{ attributes.addClass(classes) }}>
    <header class="site-layout__article-header">
      <h1>STYLE GUIDE</h1>
    </header>
    <div class="site-layout__article-content">
        <section class="site-layout__article-content-section">
          <div class="styleguide">

            <h1>Higher Education H1 D 64/80 -- M 40/48</h1>

            <h2>Higher Education H2 D 48/56 -- M 32/40</h2>

            <h3>Higher Education H3 D 40/56 -- M 24/32</h3>

            <h4>Higher Education H4 D 32/40 -- M 16/24</h4>

            <h5>Higher Education H5 D 16/24 -- M 14/18</h5>

            <h5>Paragraphs</h5>
            <div class="styleguide__fonts">

              <p class="p-micro">Here is the micro p 11/16 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit risus, pulvinar volutpat odio sit amet, vulputate auctor sem. Donec sed cursus erat. Donec scelerisque tellus at lorem suscipit laoreet. Pellentesque quis lectus feugiat, suscipit augue sed, euismod mauris. Vestibulum ultricies lectus quis elit condimentum, at dictum sem facilisis. In elementum mauris ex, vitae fermentum nulla tincidunt vitae. Praesent sollicitudin urna sit amet justo congue.</p>
              <p class="p-small">Here is the small p 14/18 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit risus, pulvinar volutpat odio sit amet, vulputate auctor sem. Donec sed cursus erat. Donec scelerisque tellus at lorem suscipit laoreet. Pellentesque quis lectus feugiat, suscipit augue sed, euismod mauris. Vestibulum ultricies lectus quis elit condimentum, at dictum sem facilisis. In elementum mauris ex, vitae fermentum nulla tincidunt vitae. Praesent sollicitudin urna sit amet justo congue.</p>
              <p>  Here is the normal p D 20/24 -- M 16/24 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit risus, pulvinar volutpat odio sit amet, vulputate auctor sem. Donec sed cursus erat. Donec scelerisque tellus at lorem suscipit laoreet. Pellentesque quis lectus feugiat, suscipit augue sed, euismod mauris. Vestibulum ultricies lectus quis elit condimentum, at dictum sem facilisis. In elementum mauris ex, vitae fermentum nulla tincidunt vitae. Praesent sollicitudin urna sit amet justo congue.</p>
              <p class="p-large">Here is the large p 24/32 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit risus, pulvinar volutpat odio sit amet, vulputate auctor sem. Donec sed cursus erat. Donec scelerisque tellus at lorem suscipit laoreet. Pellentesque quis lectus feugiat, suscipit augue sed, euismod mauris. Vestibulum ultricies lectus quis elit condimentum, at dictum sem facilisis. In elementum mauris ex, vitae fermentum nulla tincidunt vitae. Praesent sollicitudin urna sit amet justo congue.</p>
              
              <ul>
                <li>Here are the unordered list items:</li>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
              </ul>

              <ol>
                <li>Here are the ordered list items:</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
              </ol>

              <p class="eyebrow">Here is the eyebrow</p>


            </div> 

            <h5>Small Icons</h5>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-calendar"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-credit"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-elearning"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-happy_student"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-interactivity"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-online_certificate"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-online_education"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-puzzles"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-support"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-transfer"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-tuition"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-window_check"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--small-icon icon-zero-usd"></span></p>
            <br /><br/>

            <h5>Medium Icons</h5>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-calendar"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-credit"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-elearning"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-happy_student"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-interactivity"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-online_certificate"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-online_education"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-puzzles"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-support"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-transfer"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-tuition"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-window_check"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--medium-icon icon-zero-usd"></span></p>
            <br /><br/>

            <h5>Default Icons</h5>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-calendar"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-credit"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-elearning"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-happy_student"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-interactivity"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-online_certificate"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-online_education"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-puzzles"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-support"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-transfer"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-tuition"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-window_check"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-zero-usd"></span></p>
            <br/><br/>


            <h5>Large Icons</h5>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-calendar"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-credit"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-elearning"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-happy_student"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-interactivity"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-online_certificate"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-online_education"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-puzzles"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-support"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-transfer"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-tuition"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-window_check"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="--large-icon icon-zero-usd"></span></p>
            <br /><br/>

            <h5>Utility Icons</h5>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-alert-circle"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-arrow-down"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-arrow-left"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-arrow-right"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-arrow-up-right"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-arrow-up"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-book-open"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-check"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-chevron-down"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-chevron-left"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-chevron-right"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-chevron-up"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-eye-off"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-eye"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-heart"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-lock"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-menu"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-minimize"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-phone"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-play"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-printer"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-search"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-slash"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-star"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-thumbs-up"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-trash"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-trending-up"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-user"></span></p>
            <p style="display:inline-block; margin-bottom:0;margin-left: 10px;"><span class="icon-x"></span></p>
            <br /><br />


            <h5>Primary Button</h5>
            <button>Click Here</button>
            <button disabled="true">Click Here</button>
            <br /><br />


            <h5>Alternate Button</h5>
            <button class="button--blue">Click Here</button>
            <button disabled="true" class="button--blue">Click Here</button>
            <br /><br />

            <h5>Small Button</h5>
            <button class="--small">Click Here</button>
            <button class="button--blue --small">Click Here</button>
            <br /><br />


            <h5>Inputs</h5>


            <br/>Base:<br/>
            <input type="text" placeholder="Placeholder">
            <br /><br />
            <br/>With Label:<br/>
            <label for="labelthing">Here is the label</label><input type="text" name="labelthing" placeholder="Placeholder">
            <br /><br />
            <br/>Disabled:<br/>
            <input type="text" disabled="true" placeholder="Placeholder">
            <br /><br />
            <br/>Error:<br/>
            <input type="text" class="--input-error" placeholder="Placeholder">
            <br/>
            <span class="--input-error-message">Error message</span>
            <br /><br /><br />

            
            <h5>Selects</h5>

            Base:<br/>
            <div class="select__wrapper">
              <select>
                <option value="Thing!">Thing1</value>
                <option value="Thing@">Thing2</value>
              </select>
            </div>
            <br /><br />
            <br/>With Label:<br/>
            <label for="selecthing">Here is the label</label>
            <div class="select__wrapper">
              <select name="selectthing">
                <option value="Thing!">Thing1</value>
                <option value="Thing@">Thing2</value>
              </select>
            </div>
            <br /><br />
            <br/>Disabled:<br/>
            <div class="select__wrapper">
              <select disabled="true">
                <option value="Thing!">Thing1</value>
                <option value="Thing@">Thing2</value>
              </select>
            </div>
              <br /><br />
            <br/>Error:<br/>
            <div class="select__wrapper">
              <select class="--input-error">
                <option value="Thing!">Thing1</value>
                <option value="Thing@">Thing2</value>
              </select>
            </div>
            <br/>
            <span class="--input-error-message">Error message</span>

            <br />
            <br />


          <h5>Password</h5>

            <div class="password__wrapper">
              <label for="password">Password</label>
              <input type="password" name="password">
              <input type="checkbox" id="password-visible" class="password__visible-checkbox">
              <label for="password-visible" class="password__visible-display"></label>
            </div>
            <br /><br />


            <h5>Checkbox</h5>

            <input type="checkbox" id="checkbox-1" name="checkme"><label for="checkbox-1"></label>


            <script type="text/javascript">
              var checkBoxes = document.querySelectorAll('.password__visible-display');
              checkBoxes.forEach(function(e, i, arr) {
                e.addEventListener('click', function() {
                  var pwdField = e.parentNode.querySelector('input[name="password"]');
                  if (pwdField.getAttribute('type') == 'text') {
                    pwdField.setAttribute('type', 'password');
                  } else {
                    pwdField.setAttribute('type', 'text');
                  }
                  
                });
              });

            </script>
          <br/><br/>

            <h5>Color Swatches</h5>
            <div class="colorswatch colorswatch-azRedLight">azRedLight</div>
            <div class="colorswatch colorswatch-azRed">azRed</div>
            <div class="colorswatch colorswatch-azRedDark">azRedDark</div>
            <div class="colorswatch colorswatch-azBlueLight">azBlueLight</div>
            <div class="colorswatch colorswatch-azBlue">azBlue</div>
            <div class="colorswatch colorswatch-azBlueDark">azBlueDark</div>
            <div class="colorswatch colorswatch-orangeLight">orangeLight</div>
            <div class="colorswatch colorswatch-orange">orange</div>
            <div class="colorswatch colorswatch-orangeDark">orangeDark</div>
            <div class="colorswatch colorswatch-sky">sky</div>
            <div class="colorswatch colorswatch-blue">blue</div>
            <div class="colorswatch colorswatch-river">river</div>
            <div class="colorswatch colorswatch-lighterGray">lighterGray</div>
            <div class="colorswatch colorswatch-lightGray">lightGray</div>
            <div class="colorswatch colorswatch-silver">silver</div>
            <div class="colorswatch colorswatch-darkGray">darkGray</div>
            <div class="colorswatch colorswatch-tan">tan</div>
            <div class="colorswatch colorswatch-yellow">yellow</div>
            <div class="colorswatch colorswatch-purple">purple</div>
            <div class="colorswatch colorswatch-black">black</div>
          </div>
        </section>
        <section class="site-layout__article-content-section --full-width">
          <div class="styleguide__fullwidth">
          <div class="styleguide__fullwidth-contained">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae reprehenderit iste fuga recusandae placeat dolorem ipsam suscipit tenetur distinctio quidem eligendi, excepturi qui modi ut voluptate quos consequatur rem fugit.</p>
          </div>
          </div>
        </section>
    </div>
</article>
<section class="site-layout__footer">
    some related stuff here
</section>


