
    {% for item in items %}
        <h3 class="accordion-items__item-heading"><button type="button" class="accordion-items__item-toggle js-accordion-item-toggle">{{ item.content }} </button></h3>
    {% endfor %}
