@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/typographyMixins" as *;
@use "../base/vars" as *;
@use "sass:math";

.accessibility-feedback {
  @include globalGutters;
  padding-top: 0;
  margin: {
    left: auto;
    right: auto;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
  }
  @media (min-width: $desktop) {
    padding-top: 0;
  }

  @media (min-width: $desktop-medium-large) {
    &:not(.columns__left &) {
      max-width: 1440px;
      margin: {
        left: auto !important;
        right: auto !important;
      }
      padding: {
        left: 0;
        right: 0;
        top: 0;
      }
    }
  }

  &__title {
    @include heroheader;
  }

  &__content {
    label {
      @include rems(20px);
      line-height: math.div(24, 20);
      font-weight: 500;
      color: $black;
      margin: {
        top: 24px;
        bottom: 8px;
      }
    }

    input[data-drupal-selector="edit-contact-email"] {
      cursor: pointer;
      border: solid 1px $lightGray;
      border-radius: 8px;
      width: 100%;
      max-width: 500px;
    }

    .description {
      @include textMedium;
      width: 100%;

      @media (min-width: $desktop) {
        width: 1000px;
      }
    }

    textarea {
      width: 100%;
      border: solid 1px $lightGray;
      border-radius: 8px;
      margin: {
        top: 8px;
        bottom: 16px;
      }

      @media (min-width: $desktop) {
        width: 1000px;
      }
    }
  }
}
