@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/vars" as *;
@use "sass:math";

body.youtubemodal-open {
  overflow: hidden;
}

.youtube-modal {
  display: none;
  position: fixed;
  z-index: 2147483645;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &__embed {
    position: relative;
    width: 100%;
    padding: {
      top: 56.25%;
    }


    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }


  .modal-close {

    position: absolute;
    right: 1px;
    top: -5px;
    width: 15px;
    cursor: pointer;

    @media (min-width: 640px) {
      right: 16px;
      top: 10px;
      width: 20px;
    }

    path {
      transition: stroke 0.25s ease;
      stroke: $black;
    }

    &:hover {
      path {
        stroke: $azRed;
      }
    }
  }

  .block__content {
    background-color: white;
    max-width: 1000px;
    padding: 16px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    
    top: 50%;
    transform: translateY(-50%);


    @media (min-width: 640px) {
      top: unset;
      transform: unset;
      margin-top: 10vh;
      border-radius: 16px;
      padding: 40px;
    }
  }
}
