@use "sass:math";
@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/typographyMixins" as *;
@use "../base/vars" as *;
@use "../base/icons" as *;

.accordion-faq {
  @include globalGutters;
  max-width: 1920px;
  margin: {
    left: auto;
    right: auto;
  }

  @media (min-width: $desktop-medium-large) {
    &:not(.columns__left &) {
      max-width: 1440px;
      padding: {
        left: 0;
        right: 0;
      }
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
  &__header-container {
    padding-top: 24px;
  }

  &__header {
    @include eyebrow;
    font-weight: 500;
    @include rems(28px);
    line-height: 1.14;
    text-align: center;
    color: $azBlue;
    margin: {
      bottom: 24px;
    }
    @media (min-width: $tablet) {
      @include rems(36px);
      line-height: 1.33;
    }
    &::before {
      left: calc(50% - 40px);
    }
  }

  &__content {
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
    margin: {
      left: auto;
      right: auto;
      bottom: 32px;
    }
    @media (min-width: $tablet) {
      @include rems(20px);
      line-height: 1.2;
    }
    @media (min-width: $desktop-small) {
      max-width: unset;
    }
  }
}
