//This is for wysiwyg for legacy content from zes content type pages.
.large-image-copy-block--link a {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #0076ab;
  color: #0076ab;
  padding: 12px 20px;
  font-weight: 700;
  display: inline-block;
  line-height: 1.4;
  letter-spacing: 0.9333px;
  font-size: 0.7777777778rem;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}
.large-image-copy-block {
  display: flex;
  flex-wrap: wrap;
}
.large-image-copy-block--content-wrapper {
  width: 50%;
  flex: 0 0 50%;
  display: inline;
  margin: 32px 0;
  padding: 1% 5%;
}
@media (max-width: 1024px) {
  .large-image-copy-block--content-wrapper {
    width: 100%;
    flex: 0 0 100%;
  }
}
.large-image-copy-block--content {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}
.large-image-copy-block--link {
  margin-bottom: 40px;
}
