.\--paid-landing-page.page--node-type-zes-pages {
  .site-header__logo a {
    pointer-events: none !important;
  }

  &:not(.--brand-page) .main-nav,
  &:not(.--brand-page) .main-nav__mobile-toggle {
    display: none !important;
  }

  header .site-header__logo {
    transform: translateX(0px) !important;
  }
}

.main-nav {
  height: 0;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: transparent;
  @include breakpoint(min-width $tablet-header) {
    transform: translateX(0);
    position: static;
    width: auto;
    height: 100%;
  }

  &.--active {
    background-color: fade-out($color: #000000, $amount: 0.5);
    @include breakpoint(min-width $tablet-header) {
      background-color: transparent;
    }
    .main-nav__aux {
      display: block;
    }
    .main-nav__items {
      display: block;
      transform: translateX(0%);
      @include breakpoint(min-width $tablet-header) {
        display: flex;
      }
    }
  }
  &.--sub-open {
    .main-nav__items {
      transform: translateX(calc(-100vw + 65px));
      overflow: hidden;
      @include breakpoint(min-width $tablet-header) {
        transform: translateX(0);
        overflow: visible;
      }
    }
    .main-nav__toggle {
      display: none;
    }
    .main-nav__toggle {
      &.--sub-active {
        display: inline-block;
        @include breakpoint(min-width $tablet-header) {
          display: none;
        }
      }
    }
    .main-nav__aux {
      transform: translateX(calc(-100vw + 65px));
    }
  }

  &__mobile-toggle {
    width: 65px;
    height: 100%;
    overflow: hidden;
    color: transparent;
    position: relative;
    background: {
      image: url("../images/bg/mobile-menu.svg");
      size: 33px;
      repeat: no-repeat;
      position: center center;
    }
    padding: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    border: 0;
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    @include breakpoint(min-width $tablet-header) {
      display: none;
    }
  }
  &__items {
    display: block;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 44px);
    background-color: $azBlue;
    max-width: 100vw;
    box-sizing: content-box;
    padding: {
      left: 0;
      right: 100vw;
      top: 0;
      bottom: 0;
    }
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(min-width $tablet-header) {
      height: auto;
      transform: translateX(0);
      display: flex;
      background-color: transparent;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      height: 100%;
      max-width: 100%;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }
  &__item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    list-style: none;
    background-color: $azBlue;
    padding: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    @include breakpoint(min-width $tablet-header) {
      flex-basis: auto;
      flex-wrap: wrap;
      height: 100%;
      width: auto;
      position: static;
      &:nth-child(2) {
        a.main-nav__link {
          padding-left: 30px;
        }
      }

      &.\--show-button.\--show-button.\--show-button.\--show-button,
      &.\--open.\--open.\--open {
        flex-wrap: nowrap;
        .main-nav__link {
          &:before {
            display: none;
          }

          &:focus {
            color: $orange;
          }
        }
        .main-nav__toggle {
          display: block;

          &:after {
            transform: rotateZ(0);
          }

          &:focus:after {
            color: $orange;
          }
        }

        &.\--open {
          .main-nav__toggle {
            &:after {
              transform: rotateZ(180deg);
            }
          }
          .main-nav__item-content {
            @include breakpoint(min-width $tablet-header) {
              display: block;
            }
          }
        }
      }
    }

    &:hover {
      background-color: darken($azBlue, 6);
      &::after {
      }

      .main-nav__item-content {
        @include breakpoint(min-width $tablet-header) {
          display: block;
        }
      }
    }
    &.--open {
      .main-nav__item-content {
        display: block;
        //transform: translateX(-100%);
      }
      .main-nav__toggle {
        &::after {
          transform: rotateZ(90deg);
        }
      }
    }
  }

  &__link {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 65px);
    flex-grow: 1;
    position: relative;

    font-size: rem(27px);
    font-weight: 300;
    color: #ffffff;
    letter-spacing: -0.27209px;
    line-height: 1.222;
    padding: {
      top: 25px;
      bottom: 25px;
      left: 17px;
      right: 15px;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &::before {
      top: 2px;
      right: 10px;
      height: 100%;
      display: none;
      align-items: center;
      font-size: 0.625rem;
    }
    @include breakpoint(min-width 1340px) {
      padding: {
        right: 40px;
      }
    }
    @include breakpoint(min-width $tablet-header) {
      flex-basis: auto;
      font-size: rem(16.8px);
      font-weight: 500;
      letter-spacing: -0.168056px;
      padding: {
        top: 0;
        bottom: 0;
        left: 10px;
        right: 25px;
      }
      border: 0;
      &::before {
        display: flex;
      }
    }
    @include breakpoint(min-width 1340px) {
      padding: {
        right: 30px;
      }
      &::before {
        right: 16px;
      }
    }
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
    }
    &.--mobile-apply {
      display: flex;
      font-weight: 700;
      @include breakpoint(min-width $tablet-header) {
        display: none;
      }
    }
  }
  &__toggle {
    position: relative;
    display: inline-block;
    flex-basis: 65px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    color: transparent;

    padding: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    border: {
      bottom: 1px solid rgba(255, 255, 255, 0.2);
      left: 1px solid rgba(255, 255, 255, 0.2);
    }
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &::after {
      @extend %fontbase;
      content: "\e900";
      color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotateZ(-90deg);
    }
    @include breakpoint(min-width $tablet-header) {
      display: none;
    }
  }
  &__item-content {
    display: none;
    flex-basis: 100%;
    height: calc(100vh - 50px);
    width: calc(100vw - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #0c1c34;
    position: absolute;
    top: 0;
    left: 100vw;
    z-index: 100;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    @include breakpoint(min-width $tablet-header) {
      position: absolute;
      top: 100%;
      left: 0;
      height: auto;
      overflow: auto;
      min-width: 300px;
      background-color: darken($azBlue, 6);
      width: 100%;
      min-width: 816px;
      padding: {
        top: 24px;
        bottom: 24px;
        left: 24px;
        right: 24px;
      }
    }
  }

  &__sub-items {
    list-style: none;
    padding: {
      left: 0;
      right: 0;
      top: 25px;
      bottom: 0;
    }
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    z-index: 10;

    @include breakpoint(min-width $tablet-header) {
      height: auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      max-width: 1920px;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: initial;

      &.\--no-sub-children {
        display: block;
      }
    }
    &.--no-image {
      @include breakpoint(min-width $tablet-header) {
        flex-wrap: nowrap;
        max-width: 100%;
      }
    }
  }
  &__sub-item {
    z-index: 10;
    padding: {
      left: 26px;
      bottom: 60px;
    }
    position: relative;

    margin: {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @include breakpoint(min-width $tablet-header) {
      margin-bottom: 30px;
      padding-bottom: 0;
    }

    .\--menu-cta {
      left: 26px;
      bottom: 25px;
      max-width: 300px;
      border: solid 2px $orange;
      color: $orange;
      width: 100%;
      display: block;
      font-size: 1.125rem;
      position: absolute;
      width: 83%;
      text-align: center;
      line-height: 1.667;
      font-weight: bold;
      transition: color 0.2s ease border 0.2s ease;

      @include breakpoint(min-width $tablet-header) {
        bottom: 0;
        left: 0;
        width: 90%;
      }

      &:hover {
        border: solid 2px white;
        color: white;
      }
    }

    @include breakpoint(min-width $tablet-header) {
      flex-basis: 256px;
      padding: {
        left: 0;
        right: 32px;
      }
      border: 0;
      margin: {
        bottom: 0;
      }
    }
    &.--no-image {
      @include breakpoint(min-width $tablet-header) {
        flex-basis: 1/2 * 100%;
        flex-grow: 1;
      }
    }
    &:last-of-type {
      padding-bottom: 80px;
      @include breakpoint(min-width $tablet-header) {
        padding-bottom: 0;
      }
    }
  }
  &__sub-item-content {
    @include breakpoint(min-width $tablet-header) {
      padding: {
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    }
  }
  &__sub-item-title {
    width: 100%;
    display: block;
    position: relative;

    padding: {
      bottom: 10px;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include breakpoint(min-width $tablet-header) {
      padding: {
        top: 0;
      }
      border-bottom: 0;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
      }
    }
  }
  &__sub-item-title-text {
    font-size: rem(24px);
    font-weight: 600;
    letter-spacing: -0.107853px;
    @include breakpoint(min-width $tablet-header) {
      font-size: 1.25rem;
      letter-spacing: -0.0898771px;
      display: inline-block;
      width: 100%;
      padding-bottom: 9px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  a.main-nav__sub-item-title {
    display: block;
    color: #ffffff;
    &:hover,
    &:active,
    &:focus {
      color: $orange;
      &::after {
        transform: rotateZ(-90deg) translateY(3px);
      }
    }

    &::after {
      @extend %fontbase;
      content: "\e900";
      position: absolute;
      top: -10px;
      right: 15px;
      left: auto;
      height: 100%;
      width: 20px;
      display: flex;
      align-items: center;
      transform: rotateZ(-90deg);
      transition: transform 0.3s ease-in-out;
      @include breakpoint(min-width $tablet-header) {
        right: 0;
      }
    }
  }
  &__sub-item-link-items {
    padding: {
      left: 0;
      right: 0;
      top: 10px;
      bottom: 0;
    }
    margin: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    @include breakpoint(min-width $tablet-header) {
      display: flex;
      flex-wrap: wrap;
      padding: {
        top: 0;
      }
    }
  }
  &__sub-item-link-item {
    list-style: none;
    flex-basis: 100%;
    @include breakpoint(min-width $tablet-header) {
      &.--image {
        margin-top: -10px;
      }
    }
    &:last-child {
      a {
        padding-bottom: 0;
      }
    }
    &.--search-container {
      @include breakpoint(min-width $tablet-header) {
        display: none;
      }
    }
  }
  &__sub-item-link {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: -0.0898774px;
    padding: {
      bottom: 9px;
    }
    &:hover,
    &:active,
    &:focus {
      color: $orange;
    }
    @include breakpoint(min-width $tablet-header) {
      font-size: 1rem;
      letter-spacing: -0.0719019px;
    }
    .\--brand-page & {
      @include breakpoint(min-width $tablet-header) {
        font-weight: 500;
      }
    }

    img {
      display: none;
      @include breakpoint(min-width $tablet-header) {
        display: block;
      }
    }
  }
  &__aux {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    //background-color: $azBlue;
    background-image: linear-gradient(
      0deg,
      $azBlue 0%,
      $azBlue 80%,
      transparent 100%
    );
    justify-content: space-between;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out;

    padding: {
      top: 20px;
      bottom: 20px;
      left: 34px;
      right: 32px;
    }
    z-index: 110;

    .paid-nav & {
      justify-content: flex-end;
    }

    @include breakpoint(min-width $tablet-header) {
      display: none;
    }
  }
  &__aux-link {
    display: block;
    font-weight: 700;
    font-size: rem(18px);
    color: #ffffff;
    letter-spacing: -0.510942px;
    padding-top: 15px;

    &.\--additional-link {
      font-weight: 300;
      padding-bottom: 15px;
    }
  }
  &__aux-phone {
    color: #ffffff;
    font-size: rem(18px);
    font-weight: 700;
    letter-spacing: 0.789171px;
    opacity: 0.4;
  }
  &__search-form {
    width: 100%;
    display: flex;
    padding: {
      left: 17px;
      bottom: 74px;
    }
    @include breakpoint(min-width $tablet-header) {
      display: none;
    }
  }
  &__search-form-input {
    flex-basis: calc(100% - 82px);
    background-color: transparent;
    padding: {
      top: 20px;
      bottom: 20px;
      left: 5px;
    }
    border: 0;
    color: #ffffff;
    font-size: rem(22px);
    line-height: 1.25;
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  &__search-form-button {
    position: relative;
    flex-basis: 65px;
    height: 67px;
    color: transparent;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    border: 0;
    &::after {
      @extend %fontbase;
      content: "\e901";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
  }
}

body.--nav-open {
  height: 100vh;
  overflow: hidden;
  @include breakpoint(min-width $tablet-header) {
    height: auto;
    overflow: visible;
  }
  .main-nav {
    height: calc(100vh - 55px);
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    @include breakpoint(min-width $tablet-header) {
      height: 100%;
    }
  }
  .main-nav__mobile-toggle {
    background-image: url("../images/bg/mobile-close.svg");
  }
  .main-nav__items {
    height: calc(100vh - 160px);
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    padding-bottom: 250px;
    @include breakpoint(min-width $tablet-header) {
      height: auto;
      overflow: visible;
    }
  }

  .ivy-circle {
    display: none;
  }
  @include breakpoint(min-width 1025px) {
    height: auto;
    overflow: visible;
  }
}
