.mediumformheader {
  @include breakpoint(min-width $bp--desktop, $no-query: true) {
    display: flex;

    &.\--sticky-sidebar {
      display: block;
    }
  }

  &.\--swap-sides {
    flex-direction: row-reverse;

    &.\--un-swap-sides {
      flex-direction: row;
    }
  }

  &__content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    max-width: 100%;
    width: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: top;

    //Because of course ie11 doesn't support unset.
    @include breakpoint(max-width $bp--desktop, $no-query: true) {
      right: 0;
    }

    @include breakpoint(min-width $bp--desktop, $no-query: true) {
      position: absolute;
      width: auto;
      padding-left: 100px;
      width: 60%;

      .twocolumn__container & {
        width: 100%;
        padding-left: 50px;
      }

      .\--swap-sides & {
        right: 0;
        left: inherit;
      }

      .\--swap-sides.twocolumn__container & {
        right: unset;
        left: 0;
      }
    }

    @include breakpoint(min-width 1300px, $no-query: true) {
      .twocolumn__container & {
        width: 60%;
      }
    }

    @include breakpoint(min-width 1600px, $no-query: true) {
      .twocolumn__container & {
        width: 45%;
      }
    }

    @include breakpoint(min-width 1400px, $no-query: true) {
      width: 50%;
    }

    &-container {
      position: relative;
      background-size: cover;
      background-position: center;
      padding-top: 150px;

      @include breakpoint(min-width $bp--mobile, $no-query: true) {
        padding-top: 196px;
      }

      @include breakpoint(min-width $bp--desktop, $no-query: true) {
        padding-top: 0;
        flex-basis: 75%;
        min-height: 600px;

        .\--sticky-sidebar & {
          min-height: 450px;
        }
      }

      img {
        display: none;
      }
    }
  }

  &__header {
    margin-bottom: 10px;
    font-weight: 400;
    color: white;
    font-size: 1.75rem;
    @include breakpoint(min-width $bp--desktop, $no-query: true) {
      font-size: 2.5rem;
      max-width: 510px;
    }

    .twocolumn__container & {
      @media (min-width: 1025px) {
        max-width: 100%;
      }
    }
  }

  &__text {
    margin-bottom: 0;

    display: none;

    @include breakpoint(min-width $bp--desktop, $no-query: true) {
      font-size: 1.5rem;
      display: block;
      color: white;
    }
  }

  &__form {
    flex-basis: 25%;
    position: relative;

    &:target {
      @include breakpoint(max-width $bp--mobile, $no-query: true) {
        padding-top: 100px;
        margin-top: -100px;
      }
    }

    form {
      margin-bottom: 0;
    }

    &-wrapper {
      height: auto;
      padding: 20px;
      background-color: $azBlue;

      @include breakpoint(min-width $bp--desktop, $no-query: true) {
        padding: 35px;
        top: 50%;
        right: calc(50%);
        position: absolute;
        width: 150%;
        max-width: 450px;
        transform: translateY(-50%);

        .\--swap-sides & {
          right: none;
          left: calc(50%);
        }
      }
    }

    .sticky & {
      transition: top 0.3s;
      position: fixed;
      top: 100px;

      &.\--short-header {
        top: 50px;
      }
    }

    .sticky-bottom & {
      transition: top 0;
      position: relative;
      top: 0;
      width: auto;
    }

    &-header {
      color: white;
      margin-bottom: 15px;
      text-align: left;
      font-size: 1.5rem;
      @include breakpoint(min-width $bp--desktop, $no-query: true) {
      }
    }

    .webform-submission-lead-flow-system-form {
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint(min-width $bp--desktop, $no-query: true) {
        max-width: 500px;
        background-image: none;
      }

      legend {
      }

      .\--preface {
        display: none;
      }

      .form-disclaimer {
        border-top: 0;
        padding-top: 0;
        margin: {
          top: 20px;
          bottom: 20px;
        }
        color: white;

        p {
          font-size: 0.625rem;
          margin-bottom: 20px;
        }
      }

      .js-form-item {
        margin-bottom: 5px;

        select {
          background-color: white;
        }

        input,
        select {
          width: 100%;
        }

        input,
        select {
          padding: 8px 30px 8px 18px;
          font-size: 1rem;
        }

        label {
          display: none;
        }
      }

      .js-form-item-registerednurse label {
        display: block !important;
      }

      .form-item-tcpa-checkbox {
        display: none;
        margin: {
          top: 10px;
          bottom: 10px !important;
          left: 0px;
          right: 0px;
        }

        input[type="checkbox"] {
          appearance: none;
          background-color: #ffffff;
          width: auto;
          width: 24px;
          height: 24px;
          border: 1px solid #000000;
          vertical-align: middle;
          padding: 0px;
          cursor: pointer;

          &:checked {
            background-color: #e49829;

            &:before {
              content: url("../images/zes-images/rfi-checkmark.svg");
              display: block;
              text-align: center;
            }
          }
        }

        .field-suffix {
          font-size: 0.75rem;
          line-height: 1.333;
          padding-left: 8px;
          color: #ffffff;
          align-self: center;
        }
      }

      input[type="submit"][type="submit"],
      input[type="button"][type="button"] {
        @extend %button-primary;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        width: auto;
        margin: 0 auto 0 0;
        transition: none;
        transition: opacity 0.3s;
        display: inline-block;
        -webkit-appearance: none;
      }

      .button {
        @extend %button-primary;
        display: inline-block;
      }

      a.--next-btn-disabled,
      input.--request-btn-disabled {
        background-color: #cccccc !important;
      }
    }

    .rfi-lfs__progressbar {
      width: 100%;
      margin-bottom: 15px;

      &-bar {
        width: 100%;
        height: 8px;
        background-color: white;
        position: relative;

        &:before {
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 50%;
          transition: right 0.3s;
          background-color: $orange;
        }
      }

      &.\--step-two {
        .rfi-lfs__progressbar-bar:before {
          right: 0;
        }
      }

      &-title {
        text-align: left;
        color: white;
        margin-bottom: 8px;
        text-transform: none;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    .button--cta-with-icon.--cta-arrow-test.--next-button,
    .webform-button--submit.button.button--primary.webform-button--submit.button.button--primary {
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }

  .js-webform-type-radios {
    legend {
      span.fieldset-legend {
        color: white;
      }
    }
    label {
      color: white;
    }
  }

  .js-registerednurse-validation-message {
    margin-bottom: 10px;

    .form-item {
      p {
        color: white;
        margin-bottom: 0;
        font-size: 0.75rem;
      }
    }
  }
}
