.section--offset-header-content-block {
  @extend %clearfix;
  max-width: 1180px;

  @include breakpoint(1500px, $no-query: true) {
    max-width: 1440px;
  }

  margin: 0 auto;

  padding: {
    top: 96px;
    bottom: 32px;
    left: 20px;
    right: 20px;
  }
  display: flex;
  flex-wrap: wrap;

  &.\--grey-background {
    background-color: $gray;
  }

  @include breakpoint(1000px, $no-query: true) {
    margin-bottom: 0;
    padding: {
      top: 32px;
      bottom: 32px;
      left: 30px;
      right: 30px;
    }
  }

  .button {
    text-align: center;
    background-color: $blue;
    padding: 14px 24px;
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    @include breakpoint(700px, $no-query: true) {
      width: auto;
      display: inline-block;
    }

    &--list-link {
      @extend %ctaBlue;
      display: block;
      background-color: white;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.4;
      color: $azBlue;
      border: 1px solid #ccc;
      text-align: left;
      margin: {
        bottom: 20px;
      }
      padding: {
        top: 20px;
        bottom: 20px;
      }
      transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
      &:after {
        color: $azRed;
        top: 1px;
        right: 10px;
      }
      &:hover {
        background-color: fade-out($sky, 0.9);
        color: $azBlue;
      }
      h4 {
        font-weight: 400;
        color: $azBlue;
        text-transform: none;
        margin: {
          top: 0px;
          bottom: 0px;
        }
      }
    }
  }

  .section {
    &__wrapper {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;

      @include breakpoint(1000px, $no-query: true) {
        display: flex;
        padding: {
          left: 0px;
          right: 0px;
        }
      }
    }
  }

  .section__header-wrapper {
    padding: 0 0 16px 0;
    flex-basis: 100%;
    width: 100%;

    @include breakpoint($bp--desktop, $no-query: true) {
      padding: {
        top: 32px;
        left: 0px;
        bottom: 32px;
        right: 0px;
      }
      margin: {
        top: 0;
        left: 0px;
        right: 0px;
      }
      flex-basis: 30%;
      width: 30%;
    }
  }

  .section__content {
    padding-top: 32px;
    flex-basis: 100%;
    width: 100%;
    line-height: 1.5;
    color: $gray4;

    @include breakpoint($bp--desktop, $no-query: true) {
      padding: {
        top: 0;
        left: 40px;
        bottom: 0;
        right: 24px;
      }
      flex-basis: 70%;
      width: 70%;
      min-width: 70%;

      border: {
        left: solid 1px $gray2;
      }
    }

    p {
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    ol {
      margin-top: 0;
    }
  }

  &.is-reversed {
    flex-direction: row-reverse;
    .section__wrapper {
      flex-direction: row-reverse;
      padding: {
        left: 0px;
        right: 0px;
      }
    }
    .section__header-wrapper {
      @include breakpoint($bp--desktop, $no-query: true) {
        padding: 32px 0 32px 48px;
        margin: {
          top: 32px;
          left: 0px;
          right: 0px;
        }
      }
    }

    .section__content {
      border: {
        left: none;
        right: solid 1px #eff1f1;
      }
      @include breakpoint($bp--desktop, $no-query: true) {
        padding: {
          top: 32px;
          left: 0px;
          bottom: 32px;
          right: 80px;
        }
      }
    }
  }

  .section__header {
    position: relative;
    margin: 0;
    font-weight: 500;
    color: $azBlue;
    font-size: 2rem;

    &:before {
      content: " ";
      position: absolute;
      top: -32px;
      border-top: solid 5px $azRed;
      width: 64px;
      display: block;
    }

    span {
      display: block;
      font-size: 1.375rem;
      color: $gray4;
      font-weight: 400;
      margin-top: 15px;
    }
  }

  //Specific to a hard coded implementation in the node--degree-full.html.twig template.
  .field__wrapper {
    margin-bottom: 20px;
  }
}
